.DS_Store
**/.DS_Store
ProjectCode/YCnotBookforcode/.DS_Store
学习笔记/数据集/.DS_Store
学习笔记/typora下载&配置心得/.DS_Store
学习笔记/python的学习笔记/.DS_Store
学习笔记/.DS_Store
学习笔记/机器学习/.DS_Store
学习资料/.DS_Store
学习资料/python学习的相关资料/.DS_Store
ProjectCode/.DS_Store
学习资料/python学习的相关资料/ai组的学习计划&路径/.DS_Store
ProjectCode/YCnotBookforcode/第一周的项目/.DS_Store
学习笔记/图论/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
ProjectCode/QG_data_analysis/pyproject.toml
ProjectCode/QG_data_analysis/uv.lock
ProjectCode/QG_data_analysis/__pycache__/classes.cpython-314.pyc
ProjectCode/EndEposideCode/6d86271d22551b128fd4e13222028a9a.jpg
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/

ProjectCode/EndEposideCode/__pycache__/utils.cpython-312.pyc
ProjectCode/EndEposideCode/__pycache__/try_search_tool.cpython-312.pyc
*.pyc
学习资料/python学习的相关资料/ai组的学习计划&路径/2026-4/2026人工智能组末期考核/~$攥写要求与规范.docx
学习资料/python学习的相关资料/ai组的学习计划&路径/2026-4/2026人工智能组末期考核/~$末期考核报告书_姚晨_3125004395.docx
学习资料/python学习的相关资料/ai组的学习计划&路径/2026-4/2026人工智能组末期考核/~WRL4092.tmp
